@media (min-width: 600px) {
    #menu {
            display: none;
    }

    /*----------- header --------------*/

    header {
        display: grid;
        grid-template-columns: 400px 2fr;
    }

    nav {
        grid-column: 2/3;
        width: 100%;
    }

    .navigation {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
        justify-content: space-evenly;
    }

    .navigation a {
        display: block;
    }

    /*----------- services --------------*/

    .services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .services img, .services figcaption {
        width: 30vw;
    }

    .services h2 {
        grid-column: 1/4;
    }

    .book-now {
        position: static;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .book-now img {
        width: 100%;
        grid-column: 1/2;
    }

    .right {
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    /*----------- book now --------------*/

    .book-now p {
        width: 95%;
        position: static;
        grid-column: 2/3;
        color: var(--plum);
        filter: none;
        transform: none;
    }

    .right button {
        width: 130px;
        height: 70px;
        margin: 0 auto;
        position: static;
        transform: none;
        filter: none;
        border: 5px solid var(--plum);
    }

    .book-now button:hover {
        background-color: var(--plum);
        color: white;
        }

/*----------- book now --------------*/

    .invite-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .invite-cards section {
        width: 300px;
    }
}
