@media (min-width: 600px) {
    #menu {
            display: none;
        }

    header {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    nav {
        display: flex;
        grid-column: 2/3;
    }

    .navigation {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
    }

    .navigation a {
        display: block;
    }

    .services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .services img, .services figcaption {
        width: 30vw;
    }

    .services h2 {
        grid-column: 1/4;
    }


}