:root {
    --brown: #BF8566;
    --oldpink: #E1BFB7;
    --blue: #6A7E95;
    --green: #0a3d2a;
    --pink: #e1c3c8;
    --lightpink: #FAE9EE;
    --namefont: Alex Brush;
    --bodyfont: Roboto;

}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1000px;
}
main {
    font-family: var(--bodyfont) ;
}

header {
    display: grid;
    grid-template-columns: 320px 680px;
    background: var(--green);
}

#title {
    place-content: center;
    text-align: center;
    font-size: 2.3em;
    color: white;
    font-family: var(--namefont);
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    padding: 2rem;
    width: 700px;
    color: white;
}

.navigation a {
    display: block;
    text-align: center;
    color: var(--main-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--bodyfont);
}

nav a:hover {
    text-decoration: underline;
}

.opener h1 {
    padding: 2rem;
    background-color: var(--pink);
}

.home-img {
    width: 1000px;
}

.card {
    margin: 2rem auto;
    width: 800px;
    border: 1px solid var(--pink);
}

.card h2 {
    padding: 1rem;
    background-color: var(--pink);
}

.card p {
    padding: 1rem;
}