* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    margin: 0 auto;
}

body {
    display: grid;
    height: 100vh;
    grid-template: 100px 42.5px 1fr 100px / 2fr 1fr;
}

h1 {
    background: #333;
    padding: 1rem;
    grid-column: 1 / 3;
    font-size: large;
    color: #eee;
}

p {
    font-size: large;
    padding: 1rem;
}

nav {
    margin: 0 auto;
    width: 100%;
    height: auto;
    grid-column: 1 / 3;
}

.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    align-items: center;
    justify-content: space-around;
    grid-column: 1/5;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}

.main-content {
    background: rgb(184, 184, 184);
    grid-column: 1 / 2;
}

.aside-content {
    background: rgb(221, 221, 221);
    grid-column: 2 / 3;
}

footer {
    width: 100%;
    background: #333;
    padding: 1rem;
    text-align: center;
    grid-area: 4 / 1 / 5 / 3;
    color: #eee;
}