:root {
    --brown: rgb(187, 89, 19);
    --light-orange: rgb(240, 163, 108);
    --bord: 1px solid rgb(0 0 0 / 10%);
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: var(--brown);
    padding: 2rem;
    text-align: center;
    color: white;
    border-bottom: 20px solid var(--light-orange);
}

.hero img {
    width: 100vw;
    height: auto;
    border-bottom: 20px solid var(--light-orange);
}

.data {
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 145px 120px 1fr;
    grid-gap: 0.5rem;
    border-bottom: var(--bord);
}

.weather {
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 123px 120px 1fr;
    grid-gap: 0.5rem;
}

h2 {
    grid-column: 1/5;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

.label {
    text-align: right;
    font-size: large;
    grid-column: 2/3;
    line-height: 2rem;
}

.info {
    text-align: justify;
    font-size: large;
    grid-column: 3/4;
    line-height: 2rem;
}

.weather img {
    grid-column: 1/5;
    width: 60px;
    padding-bottom: 1rem;
}

footer {
    display: block;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    background-color: var(--brown);
    color: white;
}