body {
    font-family:Roboto;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 20%);
    background-color: rgb(188, 205, 224);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: rgb(248, 252, 255);
}
